<!DOCTYPE html>
<div class="row">
  <div class="col-sm-12">
    <h1>Stats</h1>
  </div>
</div>

<div class="row">
  <div class="col-sm-7">
    <ul class="nav nav-tabs">
      <li ng-class="{'active': currentTab(1)}"><a href ng-click="setTab(1)">Matches</a></li>
      <li ng-class="{'active': currentTab(2)}"><a href ng-click="setTab(2)">Players</a></li>
    </ul>

    <div class="panel" ng-show="currentTab(1)">
      <div class="panel-body">
        <div class="table-responsive">
          <table class="table table-hover table-striped table-condensed">
            <tr>
              <th style="cursor:pointer" ng-click="sortByColumn('team1')">Team Name</th>
              <th>Score</th>
              <th style="cursor:pointer" ng-click="sortByColumn('team2')">Team Name</th>
              <th>Score</th>
              <th style="cursor:pointer" ng-click="sortByColumn('-match_date')">Date</th>
            </tr>
          </table>
        </div>
        <table class="table table-hover table-striped table-condensed" ng-repeat-start="match in matches | orderBy:columnSortValue">
          <tr ng-click="expandDetails(match.id)" class="clickable-row">
            <td>{{match.team1}}</td>
            <td>{{match.team1Score}}</td>
            <td>{{match.team2}}</td>
            <td>{{match.team2Score}}</td>
            <td>{{match.match_date | date}}</td>
          </tr>
        </table>
        <div ng-repeat-end uib-collapse="isCollapsed({{match.id}})">
          <div class="panel collapsing-panel">
            <div class="panel-body">
              <div class="table-responsive">
                <table class="table table-hover table-condensed">
                  <tr>
                    <th class="th-center" colspan="2">{{match.team1}} {{match.team1Score}}</th>
                    <th class="th-center" colspan="2">{{match.team2}} {{match.team2Score}}</th>
                  </tr>
                  <tr>
                    <td>{{match.t1_p1}}</td>
                    <td>{{match.t1_p1_score}}</td>
                    <td>{{match.t2_p1}}</td>
                    <td>{{match.t2_p1_score}}</td>
                  </tr>
                  <tr>
                    <td>{{match.t1_p2}}</td>
                    <td>{{match.t1_p2_score}}</td>
                    <td>{{match.t2_p2}}</td>
                    <td>{{match.t2_p2_score}}</td>
                  </tr>
                  <tr>
                    <td>{{match.t1_p3}}</td>
                    <td>{{match.t1_p3_score}}</td>
                    <td>{{match.t2_p3}}</td>
                    <td>{{match.t2_p3_score}}</td>
                  </tr>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
