<!DOCTYPE html>
<h1>Submit Match</h1>
<div class="container">
  <form id="matchForm" ng-submit="submitMatch(match)" name="matchForm" class="form-horizontal">
    <div class="row">
      <div class="col-md-5">
        <div class="panel">
          <div class="panel-header">
            <h2>Team One</h2>
          </div>
          <div class="panel-body">
            <div class="form-group"
              ng-class="{'has-error' : matchForm.team1.$dirty && matchForm.team1.$invalid, 'has-success' : matchForm.team1.$dirty && matchForm.team1.$valid}">
              <input ng-model="match.team1" class="form-control" type="text" name="team1" placeholder="Team Name" required/>
            </div>
            <br>
            <div class="form-group">
              <input ng-model="match.t1_p1" class="form-control" type="text" name="t1_p1" placeholder="Captain" />
            </div>
            <div class="form-group">
              <input ng-model="match.t1_p1_score" class="form-control" type="number" name="t1_p1_score" placeholder="Score" />
            </div>
            <br>
            <div class="form-group">
              <input ng-model="match.t1_p2" class="form-control" type="text" name="t1_p2" placeholder="Player" />
            </div>
            <div class="form-group">
              <input ng-model="match.t1_p2_score" class="form-control" type="number" name="t1_p2_score" placeholder="Score" />
            </div>
            <br>
            <div class="form-group">
              <input ng-model="match.t1_p3" class="form-control" type="text" name="t1_p3" placeholder="Player" />
            </div>
            <div class="form-group">
              <input ng-model="match.t1_p3_score" class="form-control" type="number" name="t1_p3_score" placeholder="Score" />
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-5 col-md-offset-2">
        <div class="panel">
          <div class="panel-header">
            <h2>Team Two</h2>
          </div>
          <div class="panel-body">
            <div class="form-group">
              <input ng-model="match.team2" class="form-control" type="text" name="team2" placeholder="Team Name" />
            </div>
            <br>
            <div class="form-group">
              <input ng-model="match.t2_p1" class="form-control" type="text" name="t2_p1" placeholder="Captain" />
            </div>
            <div class="form-group">
              <input ng-model="match.t2_p1_score" class="form-control" type="number" name="t2_p1_score" placeholder="Score" />
            </div>
            <br>
            <div class="form-group">
              <input ng-model="match.t2_p2" class="form-control" type="text" name="t2_p2" placeholder="Player" />
            </div>
            <div class="form-group">
              <input ng-model="match.t2_p2_score" class="form-control" type="number" name="t2_p2_score" placeholder="Score" />
            </div>
            <br>
            <div class="form-group">
              <input ng-model="match.t2_p3" class="form-control" type="text" name="t2_p3" placeholder="Player" />
            </div>
            <div class="form-group">
              <input ng-model="match.t2_p3_score" class="form-control" type="number" name="t2_p3_score" placeholder="Score" />
            </div>
          </div>
        </div>
        <div class="panel">
          <div class="panel-body">
            <div class="form-group">
              <input ng-model="match.match_date" class="form-control" type="date" name="match_date" placeholder="Match Date" />
              <br>
              <span ng-show="isSuccessfulPost" class="post-success-message">Match Submitted!</span>
              <span ng-show="matchForm.$invalid && matchForm.$dirty" class="post-failure-message">Please fill out all fields.</span>
              <button id="matchSubmit" class="btn btn-primary" type="submit" ng-disabled="matchForm.$invalid">Submit</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
