body {
  background-color: #000C10;
}

.content-wrapper {
  background-color: #202C30;
}

.rc-details-panel {
}

.rc-navbar-buttons {
  padding: 8px 0px 8px 8px;
}

#top-navbar {
  background-color: #000C10;
  margin-bottom: 0px;
  border-width: 0px 0px 2px;
  border-color: #FF8000;
  border-radius: 0px;
  padding: 0px 15px 0px 15px;
}

#brand {

}

#brand a {
  color: #FFE5CC;
  font-size: 48px;
  padding: 30px 60px 25px 0px;
}

#page-nav-tabs a {
  font-style: italic;
  color: #FFE5CC;
  background-color: transparent;
  margin: 20px 0px 0px 0px;
  font-size: 24px;
}

#page-nav-tabs a:hover, #page-nav-tabs li.active a {
  color: #FFB060;
}

/*Modified Bootstrap Classes*/
.panel {
  margin-bottom: 20px;
  background-color: #FFEEDD;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  border-radius: 0px;
}

.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
  background-color: #FFEEDD;
}

.nav-tabs>li>a:hover {
  color: #555;
  cursor: pointer;
  background-color: #EEDDCC;
}

.navbar-nav {
  background-color: transparent;
}

.btn.active.focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn:active:focus, .btn:focus {
  outline: none;
}

/*Custom*/
