:root {
  --dark-bg--dark: #000c10;
  --dark-bg--med: #132025;
  --dark-bg--light: #202c30;
  --text-light-grey: #ccc;
  --blue-btn: #38c;
  --blue-btn-border: #276a9a;
  --blue-btn--darken: #36a;
  --blue-btn-border--darken: #257;
}

body {
  background-color: var(--dark-bg--dark);
}

h1 {
  color: #f90;
  font-size: 36px;
  margin-bottom: 15px;
}

h2 {
  color: var(--text-light-grey);
  padding-top: 8px;
  font-size: 24px;
  margin-top: 0;
  margin-bottom: 0;
}

#view-wrapper {
background-color: var(--dark-bg--light);
  margin: 0 15px 0 15px;
}

.container-fluid {
  padding: 0 30px 15px 30px;
}

.btn.active,
.btn:active {
  box-shadow: inset 0 3px 6px rgba(0,0,0,.2);
  -webkit-box-shadow: inset 0 3px 6px rgba(0,0,0,.2);
}

.btn.active.focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn:active:focus,
.btn:focus {
  outline: none;
}

.btn-primary,
.btn-primary.focus,
.btn-primary:focus,
.btn-primary.active,
.btn-primary:active {
  font-weight: 600;
background-color: var(--blue-btn);
  border-color: var(--blue-btn-border);
}

.btn-primary:hover,
.btn-primary:hover.active,
.btn-primary:hover:active,
.btn-primary.focus.active,
.btn-primary.focus:active,
.btn-primary:focus.active,
.btn-primary:focus:active {
background-color: var(--blue-btn--darken);
  border-color: var(--blue-btn-border--darken);
}

.post-success-message {
  padding-left: 10px;
  color: #fff;
}

.post-failure-message {
  padding-left: 10px;
  color: #fcc;
}

.panel {
  margin-bottom: 20px;
background-color: var(--dark-bg--med);
  border-radius: 4px;
  border-width: 0px;
  padding: 0 10px 0 10px;
}

.collapsing-panel {
color: var(--text-light-grey);
  background-color: var(--dark-bg--light);
}

.nav-tabs {
  border-width: 0;
}

.nav-tabs a {
color: var(--text-light-grey);
}

.nav-tabs>li.active>a,
.nav-tabs>li.active>a:focus,
.nav-tabs>li.active>a:hover {
  color: #fff;
background-color: var(--dark-bg--med);
  border-width: 1px;
  border-color: var(--dark-bg--med);
}

.nav-tabs>li>a:hover {
  color: #fff;
  cursor: pointer;
background-color: var(--dark-bg--med);
  border-width: 1px;
  border-color: var(--dark-bg--med);
}

/* ========================= TOP NAVBAR ========================= */
#top-navbar {
background-color: var(--dark-bg--dark);
  margin-bottom: 0px;
  border-width: 0;
  padding: 20px 30px 0 0;
}

#brand {
  color: #fff;
  font-size: 48px;
  line-height: 1;
  padding: 0 25px 0 0;
}

#page-nav-tabs a {
  font-style: italic;
  color: #ffe5cc;
  background-color: transparent;
  font-size: 24px;
  line-height: 2;
  padding-top: 8px;
  padding-bottom: 0;
}

#page-nav-tabs a:hover,
#page-nav-tabs li.active a {
  color: #f92;
}

#match-navbar-buttons .btn {
  margin-left: 6px;
}

.navbar-nav {
  background-color: transparent;
}

/* ========================= TABLES ========================= */
.table {
  table-layout: fixed;
  margin: 0;
}

.th-details {
  text-align: center;
  background-color: var(--dark-bg--med);
}

.clickable {
  cursor: pointer;
}

.clickable>th:hover {
  text-decoration: underline;
}

.table-hover>tbody>tr:hover {
    background-color: #ddd;
}

/* ========================= FORMS ========================= */

.form-group {
  margin-bottom: 2px;
}

.form-group button {
  float: right;
}

/*Authentication*/
.has-error .form-control {
  background-color: #fdd;
}

.has-success .form-control {
  background-color: #e5ffe5;
}

.btn[disabled] {
  opacity: .4;
}
